# ВАЖНО: суровите снимки НЕ трябва да се качват публично в GitHub.
# Те са вградени криптирано вътре в index.html, така че само index.html е публичен.
*.jpeg
*.jpg
*.png
*.JPG
*.JPEG
*.PNG
*.webp
*.heic
